<form [formGroup] = form (ngSubmit)='login()'>
    <div *ngIf="form.errors"class="alert alert-danger">Username or password is incorrect</div>
    <div formGroupName='account'>
            <div class="form-group">
                <label for="username">Username</label>
                <input 
                    formControlName = 'username'
                    id="username" 
                    type="text" 
                    class="form-control">
                <div *ngIf = 'username.pending'>checking....</div>
                <div *ngIf = "form.get('account.username').touched && form.get('account.username').invalid" class="alert alert-danger">
                    <div *ngIf = "form.get('account.username').errors.required">Username is Required..</div>
                    <div *ngIf = "form.get('account.username').errors.noSpace">username cannot contain spaces...</div>
                    <div *ngIf = "username.errors.unique">Name Should be unique....</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    formControlName = 'password'
                    id="password" 
                    type="password" 
                    class="form-control" (chnage) = log(password)>
                <!-- <div *ngIf="password.touched && password.invalid && password.errors.minlength" class="alert alert-danger">
                    minlength should be {{ password.errors.minlength.requiredLength }} is required
                </div> -->
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.minlength">minlength should be {{ password.errors.minlength.requiredLength }} characters length..</div>
                    <div *ngIf="password.errors.required">Password is Required..</div>
                </div>
            </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>